// ==== SITE COLORS ==== //

$main1: #f7797d;
$main2: #f5595e;
// $main1: #2BC0E4;
// $main2: #EAECC6;
// $main1: #870000;
// $main2: #190A05;
$black: #050702;
$gray: #7a8388;
$lightGray: #f1f1f1;
$white: #fff;

$red:#f12711;
$orange:#f67319;
$yellow:#EDF52B;
$green:#7afc33;
$blue:#78ffd6;
$indigo:#7677f6;
$violet:#c582ff
