@import '../../_variables.scss';
@import '../../_mixins.scss';
.contactWrapper{
    height: 40px;
    width: 100vw;
    @include flexRow();
    // justify-content: flex-start;
    margin: 0;
    font-size: 20px;
   
}
.contactBar{
    background: $gray;
    width: 85vw;
    justify-content:space-around;
    align-items: center;
    font-weight: 300;
    color: $white;
    @include flexRow();
}
.sidebarPlaceholder{
    width : 15vw;
}
span{
    padding: 5px;
    color: var(--accent)
}

  .headerSection{
     width: 20vw;
     height:100%;
     @include flexRow;
     justify-content: center;
     align-items: center;
  }
  
